/* Define CSS custom properties for day and night modes */
:root {
    --background-color-day: #ffffff;
    --text-color-day: #000000;
    --background-color-night: #1a1a1a;
    --text-color-night: #f5f5dc;
   
}

body {
    margin:0; /*Fix the margin of the header*/
    /*Set default background and text color for day mode*/
    background-color: var(--background-color-day);
    color: var(--text-color-day);
    /*Set the transition delay for switching dark mode*/
    transition: background-color 0.5s, color 0.5s;
}
/*Styling the dark mode feature*/
body.night-mode {
    background-color: var(--background-color-night);
    color: var(--text-color-night);
    
}
/*Styling the header*/
 .top-bar header {
    display: flex; /*Align all items in the header */
    align-items: center; /*Vertically center the items*/
    background-color: rgb(8, 199, 199);
    margin: 0;
    
}
body.night-mode .top-bar header {
    background-color: black;
    transition: 0.5s ease;
}
body.night-mode nav a {
    color: rgb(235, 233, 233);
    transition: 0.5s ease;
}
/*Styling the logo*/
#logo {
    max-width: 250px;
    height: auto;
    margin:0;
}
/*Styling the navigation bar*/
 nav {
    display: flex; /*Align item in the nav bar*/
    margin: auto; /*Set the nav bar in the middle*/
   
}

nav li {
   
    list-style: none;
    margin-right: 1.25rem; /* Adjust as needed */
}

nav a {
    text-decoration: none;
    color: black;
    position:relative;
    /*proivde positioning context for it's children or pseudo-element*/
    font-size: 2rem; /* Adjust as needed */
    cursor: pointer;
    
}
/*Style for nav bar link on hover */
/*Ignore this code temp*/
nav a:hover {
transform: scale(1.1);
transition: transform 0.3s ease;
text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
}


/* Pseudo-element before each navigation link */
nav a::before {
    content: ""; /* Empty content for the pseudo-element */
    position: absolute; /* Position the pseudo-element absolutely within the anchor */
    width: 100%; /* Make the pseudo-element take up the full width of the anchor */
    height: 2px; /* Set the height of the pseudo-element to create an underline effect */
    bottom: 0; /* Position the pseudo-element at the bottom of the anchor */
    left: 0; /* Position the pseudo-element at the left edge of the anchor */
    background-color: black; /* Set the background color of the pseudo-element to black */
    transform: scaleX(0); /* Initially scale the pseudo-element horizontally to 0 (hidden) */
    transition: transform 0.5s ease-in-out; /* Smooth transition for the transform property */
    font-weight: bold;
}

/* Pseudo-element before each navigation link on hover */
nav a:hover::before {
    transform: scaleX(1);/* Scale the pseudo-element horizontally to its original size on hover (visible) */
}

/*Set margin for both login and signup buttons cotainer*/
.login-signup {
    margin-right: 1rem; /* Adjust as needed */
}

/*Styling both login and signup button*/
#login-button, #signup-button {
    font-size: 1.5rem;/* Adjust as needed */
    padding: 0.5rem 0.5rem;/* Adjust as needed */
    border-radius: 1rem;/* Adjust as needed */
    margin-right:10px;/* Adjust as needed */
    width: 9rem;/* Adjust as needed */
    height: 4rem;
    cursor: pointer;
    transition: opacity 0.3s ease;
    
    
}
#login-button:hover, #signup-button:hover {
    opacity: 0.8;
}
/*Styling signup button*/
#signup-button {
    background-color: black;
    color: whitesmoke;

}
/*Styling login button*/
#login-button {
    background-color: white;
  
}

/*Styling the day/night mode button*/
#night-mode-toggle {
    background-color: transparent;
    cursor: pointer;
    border: none;
    
}


/*Moon icon styling */
#night-mode-toggle::before {
    
    content: '\f186';
    font-family: 'Font Awesome 5 Free';
    font-size: 2rem; /* Adjust as needed */
    color: black;
    margin-right: 0.75rem;
    transition: color 2s ;
}

/*Sun icon styling*/
body.night-mode #night-mode-toggle:before {
    content: '\263C';
    color: white;
    font-size: 3.2rem /* Adjust as needed */

}
#night-mode-toggle:hover::before {
    color: #574ddd;
}



/*Styling the whole container from about us to paragraph*/
.container {
    text-align: center; /*Make it text-align center*/
    padding-left: 400px;
    padding-right: 400px;
    
    
}

/*Styling the Our Story title*/
#title, #our-team {
    text-align: center;
    font-size: 3em;
    margin-bottom: 1rem;
}



/*Styling the top hr */
#top_hr {
    width: 10rem;
    margin-bottom: 3rem;
    
}

#short-intro {
    /* Styling for the short introduction */
    font-size: 1.4rem; /* Set font size */
    color: #003c56; /* Set text color */
    line-height: 1.5; /* Set line height */
    font-family: Karla, sans-serif; /* Set font family */
    font-style: italic; /* Set font style */
    margin-bottom: 3rem; /* Set bottom margin */
    margin-left: 1rem; /* Set left margin */
    margin-right: 1rem; /* Set right margin */
}

#who-we-are,
#how-we-work,
#our-commitment
 {
    /* Styling for section headings */
    font-size: 2rem; /* Set font size */
    margin-bottom: 1rem; /* Set bottom margin */
}


/* Styling the paragraph */
.introduction {
    /* Styling for the introduction paragraph */
    font-size: 1.25rem; /* Set font size */
    line-height: 1.5; /* Set line height */
    margin-bottom: 20px; /* Set bottom margin */
    text-align: left; /* Set text alignment */
}

footer {
    /* Styling for the footer */
    text-align: center; /* Set text alignment */
    border: solid; /* Add border */
    color: var(--text-color-day); /* Set text color */
    background-color: rgb(8, 199, 199); /* Set background color */
}



#night-mode-toggle {
    /* Styling for night mode toggle button */
    background-color: transparent; /* Set background color */
    border: none; /* Remove border */
    color: #333; /* Set text color */
    font-size: 18px; /* Set font size */
    cursor: pointer; /* Set cursor style */
    transition: color 0.3s; /* Add transition effect */
}

#night-mode-toggle:hover::before {
    /* Styling for night mode toggle button on hover */
    color: #574ddd; /* Set text color */
}

#night-mode-toggle:before {
    /* Styling for night mode toggle button icon */
    content: '\f186'; /* Add content */
    font-family: 'Font Awesome 5 Free'; /* Set font family */
    margin-right: 8px; /* Set right margin */
    font-size: 30px; /* Set font size */
}

body.night-mode #night-mode-toggle:before {
    /* Styling for night mode toggle button icon in night mode */
    content: '\263C'; /* Add content */
    font-size: 50px; /* Set font size */
    color: white; /* Set text color */
}

body.night-mode {
    /* Styling for night mode */
    background-color: var(--background-color-night); /* Set background color */
    color: var(--text-color-night); /* Set text color */
}

/* Styling for the footer */
footer {
    text-align: center; /* Center-align text */
    border: solid; /* Add border */
    color: var(--text-color-day); /* Set text color */
    background-color: rgb(8, 199, 199); /* Set background color */
}

/* Styling for the social icons container */
.social-icons {
    margin-top: 2rem; /* Add top margin of 2rem */
}

/* Styling for the social icons */
.social-icons a {
    font-size: 3.2rem; /* Set font size to 3.2rem */
    margin: 0 0.5rem; /* Add margin */
    color: #333; /* Set text color */
}
.social-icons i {
    transition: all 0.3s ease;
}
/* Styling for the text inside social icons container in night mode */
body.night-mode .social-icons a {
    color: white; /* Set text color to white */
}
.social-icons i:hover{
   color:blue;
   opacity: 0.8;
}
/* Styling for the text inside social icons container in night mode */
body.night-mode .social-icons p {
    color: var(--text-color-night); /* Set text color to night mode text color */
}
body.night-mode footer{
    background-color: black;
    transition: 0.5s ease;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.column {
    flex: 1;
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    border: solid;
    border-radius: 20px;
    overflow: hidden;
  }
  .team_container {
    padding: 0 16px;
  }
  
  .team_container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .contact_button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .contact_button:hover {
    background-color: #555;
  }

   
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
  }
  @media  screen and  (max-width: 1200px){
    .container {
        padding-left: 40px;
        padding-right: 40px;
    }

  }
  @media screen and (max-width: 991px) {
    .w-layout-blockcontainer {
      max-width: 728px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .w-layout-blockcontainer {
      max-width: none;
    }
  }
    

  :root {
    --white: white;
    --black: black;
  }
  
  .w-layout-blockcontainer {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  
  
  
  
  .reviewer-details {
    margin-top: 10px;
  }
  
  .testimonial-heading-wrapper {
    z-index: 1;
    width: 100%;
    max-width: 795px;
    grid-row-gap: 20px;
    flex-direction: column;
    display: flex;
    position: relative;
  }
  
  .testimonial-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .testimonial-slide-text-wrapper {
    max-width: 530px;
    grid-row-gap: 15px;
    flex-direction: column;
    display: flex;
  }
  
  .anchor-div {
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    transform: translate(0, -80px);
  }
  
  .testimonial-image-wrapper {
    width: 100%;
    height: auto;
    max-width: 390px;
    border-radius: 40px;
    position: relative;
    overflow: hidden;
  }
  
  .testimonial-image-wrapper.shadow-without-border.white-shadow {
    box-shadow: 14px 14px rgba(255, 255, 255, .4);
  }
  
  .testimonial-slider {
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0);
  }
  
  .h1 {
    letter-spacing: -.0625rem;
    font-size: 3.125rem;
    font-weight: 400;
    line-height: 4.0625rem;
  }
  
  .arrow-embed {
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .upper-heading {
    letter-spacing: .175rem;
    text-transform: uppercase;
    font-size: .875rem;
    font-weight: 400;
  }
  
  .main-container {
    width: 100%;
    height: 100%;
    max-width: 1290px;
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .decorative {
    z-index: -1;
    width: 74px;
    height: 79px;
    position: absolute;
    top: 70px;
    bottom: 0%;
    left: auto;
    right: -60px;
  }
  
  .decorative.testimonial {
    top: -20px;
    bottom: auto;
    left: auto;
    right: -100px;
  }
  
  .star-emebed {
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .paragraph-big {
    font-size: 1.1875rem;
    font-weight: 600;
    line-height: 2.0625rem;
  }
  
  .accordion-row {
    grid-column-gap: 10px;
    color: #150b33;
    text-align: left;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;
    font-size: 17px;
    font-weight: 500;
    line-height: 30px;
    display: flex;
  }
  
  .faq-left-block {
    width: 100%;
    max-width: 370px;
    grid-row-gap: 14px;
    text-align: left;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 43px 15px 25px;
    display: flex;
  }
  
  .faq-left-block.shadow.orange-shadow {
    box-shadow: 9px 10px #fc8864;
  }
  
  .accordion-para-wrapper {
    text-align: left;
    padding-right: 15px;
    overflow: hidden;
  }
  
  .faq-accordion-wrapper {
    max-width: 680px;
    grid-row-gap: 30px;
    flex-direction: column;
    margin-top: 30px;
    display: flex;
  }
  
  .accordion-toggle-indicator {
    width: 13px;
    height: 13px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
  }
  
  .accordion-space {
    width: 100%;
    height: 7px;
  }
  
  .horizontal-line {
    justify-content: center;
    align-items: center;
    margin-top: -1.5px;
    display: flex;
    position: absolute;
  }
  
  .accordion-block {
    cursor: pointer;
    padding: 0;
  }
  
  .phone-link {
    grid-column-gap: 20px;
    color: #150b33;
    display: flex;
  }
  
  .phone-icon {
    width: 38px;
    height: 38px;
  }
  
  .faq-left-block-text-wrapper {
    grid-row-gap: 14px;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
  
  .faq-row {
    grid-column-gap: 115px;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .faq-container {
    grid-row-gap: 80px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .horizontal-divider {
    width: 100%;
    border: 1px solid #4f4c57;
  }
  
  .vertical-line {
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    left: 4px;
  }
  
  .about-container {
    grid-row-gap: 20px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .about-heading-wrapper {
    max-width: 510px;
  }
  
  .about-section {
    padding-top:0;
    padding-bottom:0;
    position: relative;
  }
  
  .about-row {
    grid-column-gap: 70px;
    text-align: left;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    display: flex;
  }
  
  .about-image-wrapper {
    width: 100%;
    max-width: 530px;
    flex: none;
  }
  
  .about-text-wrapper {
    grid-row-gap: 80px;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
  }
  
  .client-profile {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border: 4px solid #fff;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-right: -15px;
    display: flex;
  }
  
  .client-profile.with-bg-color {
    background-color: #fc8864;
  }
  
  .clients-profile-wrapper {
    margin-top: -57.5px;
    margin-bottom: 11px;
    display: flex;
  }
  
  .plus-icon {
    width: 12px;
    height: 12px;
  }
  
  .about-image {
    width: 100%;
    height: 100%;
  }
  
  .about-text {
    flex-direction: column;
    padding: 35px 31px 35px 32px;
    display: flex;
    position: relative;
  }
  
  .about-text.shadow.orange-shadow {
    box-shadow: 8px 9px #fc8864;
  }
  
  @media screen and (max-width: 991px) {
    .slider-arrow {
      bottom: 55px;
    }
    .main-container {
      max-width: 650px;
    }
  
    .faq-left-block {
      align-items: center;
    }
  
    .accordion-para-wrapper {
      padding-right: 20px;
    }
  
    .faq-accordion-wrapper {
      max-width: none;
      order: -1;
      margin-top: 0;
    }
  
    .phone-link {
      grid-column-gap: 10px;
    }
  
    .faq-left-block-text-wrapper {
      justify-content: center;
      align-items: center;
      padding-left: 0;
    }
  
    .faq-row {
      grid-row-gap: 90px;
      flex-direction: column;
    }
  
    .faq-container {
      grid-row-gap: 60px;
    }
  
    .about-container {
      grid-row-gap: 15px;
    }
  
    .about-section {
      padding-top: 100px;
      padding-bottom: 100px;
    }
  
    .about-row {
      grid-row-gap: 50px;
      flex-direction: column;
      margin-top: 15px;
    }
  
    .about-text-wrapper {
      grid-row-gap: 60px;
      text-align: center;
      order: -1;
      align-items: center;
    }
  }
  
  @media screen and (max-width: 767px) {
    .slider-arrow {
      color: #150b33;
      border-color: #150b33;
      top: auto;
      bottom: 0%;
      left: 0%;
      right: 0%;
    }
  
    .testimonial-star-widget {
      top: auto;
      bottom: -30px;
      left: auto;
      right: auto;
    }
  
    .h6 {
      font-size: 1.2rem;
      line-height: 1.8rem;
    }
  
    .h4 {
      font-size: 1.5rem;
      line-height: 2rem;
    }
  
    .testimonial-image-container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      display: flex;
    }
  
    .testimonial-slide-content-wrapper {
      align-items: center;
    }
  
    .testimonial-section {
      padding-top: 90px;
      padding-bottom: 90px;
    }
  
    .anchor-div {
      transform: translate(0, -60px);
    }
  
    .testimonial-image-wrapper {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      display: flex;
    }
  
    .testimonial-slider {
      padding-bottom: 80px;
    }
  
    .h1 {
      font-size: 2rem;
      line-height: 2.6rem;
    }
  
    .decorative {
      width: 55px;
      height: 55px;
    }
  
    .accordion-para-wrapper {
      padding-right: 20px;
    }
  
    .accordion-toggle-indicator {
      flex: none;
    }
  
    .accordion-space {
      height: 8px;
    }
  
    .phone-link {
      align-items: center;
    }
  
    .phone-icon {
      width: 30px;
      height: 30px;
    }
  
    .faq-container {
      grid-row-gap: 45px;
    }
  
    .about-section {
      padding-top: 90px;
      padding-bottom: 90px;
    }
  
    .clients-profile-wrapper {
      justify-content: center;
      align-items: center;
      padding-right: 15px;
    }
  }
  
  @media screen and (max-width: 479px) {
    .testimonial-star-widget {
      padding: 15px 20px;
    }
  
    .testimonial-slider-mask {
      height: 100%;
    }
  
    .testimonial-slide-content-wrapper {
      padding: 40px 30px;
    }
  
    .testimonial-slide {
      height: 100%;
    }
  
    .testimonial-slider {
      height: 100%;
      padding-bottom: 65px;
    }
  
    .star-emebed {
      width: 120px;
    }
  
    .phone-link {
      grid-row-gap: 5px;
      flex-wrap: wrap;
    }
  
    .phone-link.faq {
      flex-direction: column;
    }
  
    .phone-icon.hide-on-mobile {
      display: none;
    }
  
    .faq-left-block-text-wrapper {
      text-align: center;
    }
  }